
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Content/JS/jquery-2.2.4.min.js"></script>
    <script src="~/Content/JS/employee.js"></script>
</head>
<body>
    <div class="col-md-10 col-md-offset-1" style="padding-top:50px">
        <div class="well">
            <table class="table table-bordered">
                <thead>
                    <tr class="success">
                        <th colspan="2">
                            Employee List
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2">
                            <table class="table" id="tableEmployees">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Gender</th>
                                        <th scope="col">Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
